/*
white #F4F1DE
yellow #F2CC8F
orange #E07A5F
green #81B29A
blue #3D405B
*/


#root {
  max-width: 1200px;
  text-align: center;
  float: middle;
  height: 100%
}

.ladderHead > button {
  background-color: #F2CC8F;
  width: 80%;
  height: 10%
}

.ladderTail > button {
  background-color: #E07A5F;
  width: 80%;
  height: 10%
}

.delete {
  height: 10%;
}

.line {
  background-color: #81B29A;
  width: 5px;
  height: 40%;
  display: inline-block;
}

.column {
  display: inline-block;
  height: 100%;
}

.ladder {
  grid-auto-rows: auto;
  width: 100vw;
  height: 200px;
}

#plusButton {
  vertical-align: middle;
}

.plus {
  clear: both;
}

main {
  height: 100%;
}

.foot {
  display: block;
}